{% extends 'landing/base.html' %}
{% load i18n %}
{% get_current_language as lang %}
{% block title %}{% trans "Addresses" %}{% endblock %}
{% block offer %}{% endblock %}
{% block click_item %}{% endblock %}
{% block body %}
    <div class="trs-all-300 relative max-w-screen-lg relative mx-auto w-11/12 gap-4 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 rounded-md bg-black mt-8 bg-opacity-30 mb-8 z-10 overflow-hidden">
        <div class="right bg-black bg-opacity-30 border-l border-white border-opacity-30">
            <a href="{% url "profile" %}" id="account"
               class="block cursor-pointer text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-0 hover:bg-opacity-10">{% trans "User profile" %}</a>
            <a href="{% url "address" %}" id="addrss"
               class="cursor-pointer block text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-10">{% trans "Registered addresses" %}</a>
            <a href="{% url "user_orders" %}" id="order"
               class="cursor-pointer block text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-0 hover:bg-opacity-10">{% trans "Registered orders" %}</a>
            <a href="{% url "user_offcode" %}" id="offcode"
               class="cursor-pointer block text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-0 hover:bg-opacity-10">{% trans "Active discount codes" %}</a>
        </div>
        <div id="main"
             class="left col-span-1 sm:col-span-2 md:col-span-3 py-4 pt-0 {% if lang == "en-US" %}pr-4 pl-4 sm:pl-0 {% else %}pl-4 pr-4 sm:pr-0 {% endif %}">
            {% if object_list %}
                {% for address in object_list %}
                    <a id="{{ address.id }}" onclick="AddressEditable($(this))"
                       class="address text-white Vazir mt-5 bg-gray-700 rounded-md grid grid-cols-2 p-4 gap-4 cursor-pointer hover:bg-gray-600 trs-all-300 selected">
                        <p class="country">{% trans "Country" %} : <span>{{ address.country }}</span></p>
                        <p class="city">{% trans "City" %} : <span>{{ address.city }}</span></p>
                        <p class="postal">{% trans "Postal code" %} : <span>{{ address.postal_code }}</span></p>
                        <p class="no">{% trans "No" %} : <span>{{ address.no }}</span></p>
                        <p class="address col-span-2">{% trans "Address" %} : <span>{{ address.address }}</span></p>
                    </a>
                {% endfor %}
            {% else %}
                <center class="col-span-2">
                    <h1 class="text-3xl text-gray-400 irsans-b text-shadow-md">{% trans "There is no address to display!" %}</h1>
                </center>
            {% endif %}
            <div id="account-data" class="mt-8">
                <h2 class="text-center text-white text-shadow-md irsans-b mt-2 mb-6 border-b-2 border-gray-400 rounded-full pb-4">{% trans "Register a new address" %}</h2>
                <form>
                    {% csrf_token %}
                    <label for="lat" class="inline-block w-full mb-2 mr-3 text-white">{% trans "Latitude" %}
                        : </label>
                    <input class="trs-all-300 inline-block py-4 w-full rounded-md px-3 bg-black bg-opacity-30 mb-4 text-white"
                           type="number" id="lat" name="lat"
                           placeholder="{% trans "(Optional)" %}"><br>
                    <label for="lng" class="inline-block w-full mb-2 mr-3 text-white">{% trans "Longitude" %}
                        : </label>
                    <input class="trs-all-300 inline-block py-4 w-full rounded-md px-3 bg-black bg-opacity-30 mb-4 text-white"
                           type="number" id="lng" name="lng"
                           placeholder="{% trans "(Optional)" %}"><br>
                    <label for="country" class="inline-block w-full mb-2 mr-3 text-white">{% trans "Country" %}
                        : </label>
                    <input class="trs-all-300 inline-block py-4 w-full rounded-md px-3 bg-black bg-opacity-30 mb-4 text-white"
                           type="text" id="country" name="country"
                           placeholder="{% trans "Please enter your country" %}"><br>
                    <label for="city" class="inline-block w-full mb-2 mr-3 text-white">{% trans "City" %}
                        :</label>
                    <input class="trs-all-300 inline-block py-4 w-full rounded-md px-3 bg-black bg-opacity-30 mb-4 text-white"
                           type="text" id="city" name="city"
                           placeholder="{% trans "Please enter your city" %}"><br>
                    <label for="address" class="inline-block w-full mb-2 mr-3 text-white">{% trans "Address" %}
                        :</label>
                    <input class="trs-all-300 inline-block py-4 w-full rounded-md px-3 bg-black bg-opacity-30 mb-4 text-white"
                           type="text" id="address" name="address"
                           placeholder="{% trans "Please enter your address" %}"><br>
                    <label for="postal_code" class="inline-block w-full mb-2 mr-3 text-white">{% trans "Postal code" %}
                        :</label>
                    <input class="trs-all-300 inline-block py-4 w-full rounded-md px-3 bg-black bg-opacity-30 mb-4 text-white"
                           type="number" id="postal_code" name="postal_code"
                           placeholder="{% trans "Please enter your zip code" %}"><br>
                    <label for="no" class="inline-block w-full mb-2 mr-3 text-white">{% trans "No" %}
                        :</label>
                    <input class="trs-all-300 inline-block py-4 w-full rounded-md px-3 bg-black bg-opacity-30 mb-4 text-white"
                           type="number" id="no" name="no"
                           placeholder="{% trans "Please enter your license plate" %}"><br>
                    <div class="grid grid-cols-1 gap-4 mt-2 ltr text-white">
                        <button type="button" onclick="AddAddress()"
                                class="text-center py-3 rounded-md trs-all-300 bg-green-600  hover:bg-green-700 text-shadow-md cursor-pointer">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_foot %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });

        function AddAddress() {
            let el_lat = $('#lat')
            let el_lng = $('#lng')

            let el_country = $('#country')
            let el_city = $('#city')
            let el_address = $('#address')
            let el_postal_code = $('#postal_code')
            let el_no = $('#no')

            $.ajax({
                url: '{% url "api:address" %}',
                type: 'POST', contentType: 'application/json',
                data: JSON.stringify({
                    'lat': el_lat.val() || null,
                    'lng': el_lng.val() || null,
                    'country': el_country.val(),
                    'city': el_city.val(),
                    'address': el_address.val(),
                    'postal_code': el_postal_code.val(),
                    'no': el_no.val(),
                }),
                error: function (xhr, status, error) {
                    let err = JSON.parse(xhr.responseText);
                    let _text = ""
                    $.each(err, function (k, v) {
                        let key = $("[for=" + k + "]").text()
                        _text += "<p>" + key + v + "</p>"
                    })

                    Swal.fire({
                        icon: 'error',
                        title: '{% trans "Control the inputs!" %}',
                        html: _text,
                        showConfirmButton: false, timer: 8500, timerProgressBar: true,
                    })
                }
            }).done(function () {
                Swal.fire({
                    icon: 'success',
                    title: '{% trans "New address added!" %}',
                    showConfirmButton: false, timer: 3000, timerProgressBar: true,
                }).then((result) => {
                    if (result.dismiss) {
                        window.location.replace("{% url "address" %}");
                    }
                })
            })
        }

        function AddressEditable(_this) {
            let addrs_id = _this.attr("id")
            let country = _this.children("p.country").children("span").text()
            let city = _this.children("p.city").children("span").text()
            let postal = _this.children("p.postal").children("span").text()
            let no = _this.children("p.no").children("span").text()
            let address = _this.children("p.address").children("span").text()

            Swal.fire({
                title: '{% trans 'Change Address' %}',
                html:
                    '<input id="swal-input1" placeholder="{% trans "Please enter your country" %}" value="' + country + '" class="swal2-input rtl text-right">' +
                    '<input id="swal-input2" placeholder="{% trans "Please enter your country" %}" value="' + city + '" class="swal2-input rtl text-right">' +
                    '<input id="swal-input3" placeholder="{% trans "Please enter your podtal code" %}" value="' + no + '" class="swal2-input rtl text-right">' +
                    '<input id="swal-input4" placeholder="{% trans "Please enter your zip code" %}" value="' + postal + '" class="swal2-input rtl text-right">' +
                    '<input id="swal-input5" placeholder="{% trans "Please enter your address" %}" value="' + address + '" class="swal2-input rtl text-right">',
                focusConfirm: false,
                showDenyButton: true,
                confirmButtonText: '{% trans "Update" %}',
                denyButtonText: '{% trans "Delete" %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url "api:address" %}detail/" + addrs_id,
                        type: 'PATCH', contentType: 'application/json',
                        data: JSON.stringify({
                            'country': $('#swal-input1').val(),
                            'city': $('#swal-input2').val(),
                            'no': Number($('#swal-input3').val()),
                            'postal_code': $('#swal-input4').val(),
                            'address': $('#swal-input5').val(),
                        }),
                        error: function (xhr, status, error) {
                            let err = JSON.parse(xhr.responseText);
                            let _text = ""
                            $.each(err, function (k, v) {
                                _text += "<p>" + k + v + "</p>"
                            })

                            Swal.fire({
                                icon: 'error',
                                title: '{% trans "Control the inputs!" %}',
                                html: _text,
                                showConfirmButton: false, timer: 8500, timerProgressBar: true,
                            })
                        }
                    }).done(function () {
                        Swal.fire({
                            icon: 'success',
                            title: '{% trans "Updated!" %}',
                            showConfirmButton: false, timer: 3000, timerProgressBar: true,
                        }).then((result) => {
                            if (result.dismiss) {
                                window.location.replace("{% url "address" %}");
                            }
                        })
                    })

                } else if (result.isDenied) {
                    $.ajax({
                        url: "{% url "api:address" %}detail/" + addrs_id,
                        type: 'DELETE',
                        error: function (xhr, status, error) {
                            let err = JSON.parse(xhr.responseText);
                            let _text = ""
                            $.each(err, function (k, v) {
                                _text += "<p>" + k + v + "</p>"
                            })

                            Swal.fire({
                                icon: 'error',
                                title: '{% trans "Control the inputs!" %}',
                                html: _text,
                                showConfirmButton: false, timer: 8500, timerProgressBar: true,
                            })
                        }
                    }).done(function () {
                        Swal.fire({
                            icon: 'success',
                            title: '{% trans "Deleted!" %}',
                            showConfirmButton: false, timer: 3000, timerProgressBar: true,
                        }).then((result) => {
                            if (result.dismiss) {
                                window.location.replace("{% url "address" %}");
                            }
                        })
                    })
                }
            })
        }
    </script>
{% endblock %}