{% extends 'landing/base.html' %}
{% load jformat %}
{% load i18n %}
{% block title %}{% trans "سفارش ها" %}{% endblock %}
{% block offer %}{% endblock %}
{% block click_item %}{% endblock %}
{% block body %}
    <div class="trs-all-300 relative max-w-screen-lg relative mx-auto w-11/12 gap-4 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 rounded-md bg-black mt-8 bg-opacity-30 mb-8 z-10 overflow-hidden">
        <div class="right bg-black bg-opacity-30 border-l border-white border-opacity-30">
            <a href="{% url "profile" %}" id="account"
               class="block cursor-pointer text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-0 hover:bg-opacity-10">{% trans "پروفایل کاربری" %}</a>
            <a href="{% url "address" %}" id="addrss"
               class="cursor-pointer block text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-0 hover:bg-opacity-10">{% trans "آدرس های ثبت شده" %}</a>
            <a href="{% url "user_orders" %}" id="order"
               class="cursor-pointer block text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-10">{% trans "سفارش های ثبت شده" %}</a>
            <a href="{% url "user_offcode" %}" id="offcode"
               class="cursor-pointer block text-shadow-md text-white irsans-b py-5 text-center border-b border-white border-opacity-30 trs-all-300 bg-white bg-opacity-0 hover:bg-opacity-10">{% trans "کد های تخفیف فعال" %}</a>
        </div>
        <div id="main" class="left col-span-1 sm:col-span-2 md:col-span-3 py-8 pl-8 pr-8 sm:pr-4" style="min-height: 40vh">
            {% if object_list %}
                <div class="grid grid-cols-1 gap-8">
                    {% for order in object_list %}
                        <a href="{% url "recepie" order.recepie_id %}" title="{% trans "نمایش جزئیات" %}" class="relative block text-white rounded-md trs-all-300 py-6 pb-12 px-4 bg-black bg-opacity-20 hover:bg-opacity-40">
                            <span class="absolute right-4 text-shadow-md Vazir">{% trans "شماره سفارش" %} : {{ order.recepie_id }}</span>
                            <span class="absolute left-4 text-shadow-md Vazir">{{ order.payment_datetime|jformat:"%d / %m / %Y" }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <center class="col-span-2">
                    <h1 class="text-3xl text-gray-400 irsans-b text-shadow-md">{% trans "سفارش پرداخت شده ای برای نمایش وجود ندارد" %}</h1>
                </center>
            {% endif %}
        </div>
    </div>
{% endblock %}