{% extends "landing/base.html" %}
{% load i18n %}
{% block title %}{% trans "درباره ما" %}{% endblock %}
{% load static %}
{% block offer %}{% endblock %}
{% block body %}
    <div class="mb-8 mt-4 text-white rounded-lg max-w-screen-lg w-11/12 mx-auto bg-black bg-opacity-20 text-lg">
        <img src="{% static "img/map.png" %}" alt="{{ site.title_en }}_map" class="rounded-t-md">
        <div class="p-5">
            <p><i class="gb gb_phone gb_r270 ml-1"></i> {% trans "تلفن" %} : {{ site.phone }}</p>
            <p class="my-6"><i class="gb gb_home ml-1"></i>{% trans "آدرس" %} : {{ site.address }}</p>
            <p class="">{{ site.description }}</p>
        </div>
    </div>
{% endblock %}
{% block click_item %}{% endblock %}