{% load static %}
{% load i18n %}
{% load render_partial %}
{% get_current_language as lang %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>{{ site.full_title }} | {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#34373F">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <!-- SEO - Meta tags -->
    <meta property="og:title" content="{{ site.full_title }}">
    <meta property="og:url" content="{{ site.url_full }}">
    <meta property="og:image" content="{{ site.large_logo.url }}">
    <!-- header refrense -->
    {% include "landing/layout/_Head.html" %}
    <!-- external header -->
    {% block extra_head %}{% endblock %}
</head>
<body>
<!-- haeder box -->
{% render_partial "partial_header" %}
<!-- search box -->
{% render_partial "partial_search" %}
<!-- best category -->
{% render_partial "partial_category" %}
<!-- offer shop -->
{% block offer %}
    {% render_partial "partial_offer" %}
{% endblock %}
<!-- body content -->
{% block body %}{% endblock %}
<!-- click content -->
{% block click_item %}
    {% include "landing/layout/_ClickItem.html" %}
{% endblock %}
<!-- footer content -->
{% render_partial 'partial_footer' %}
<!-- footer refrense -->
{% include "landing/layout/_Foot.html" %}
<!-- extra footer -->
{% block extra_foot %}{% endblock %}
</body>
</html>