{% extends "landing/base.html" %}
{% load i18n %}
{% load mathfilters %}
{% block title %}{% trans "سبد خرید" %}{% endblock %}
{% block offer %}{% endblock %}
{% block cart %}{% endblock %}
{% block body %}
    <div class="main relative">
        <div id="spiner" class="absolute inset-0 flex justify-center items-center invisible z-20">
            <i class="gb block text-7xl gb_cached gb_animate_spin text-white text-shadow-md"></i>
        </div>
        <div class="trs-all-300 pb-14 block relative max-w-screen-lg relative mx-auto w-11/12 gap-4 rounded-md py-4 bg-black mt-12 bg-opacity-40 mb-8 z-10 filter "
             style="min-height: 50vh" filter-class="blur-md" filter-el="input[type=number]" filter-spin="#spiner">
            {% if user %}
                {% if empty %}
                    <center class="col-span-4"><h1
                            class="text-gray-500 font-bold">{% trans "سبد خرید شما خالی است" %}</h1></center>
                {% else %}
                    <h3 class="text-center absolute mx-auto inset-x-0 -top-8 text-shadow-md">
                    <span class="irsans-b text-xl bg-black bg-opacity-40 rounded-t-md border-t border-r border-l border-black py-1 px-8 text-white">
                    <i class="gb gb_local_mall ml-1"></i>{% trans "سبد خرید" %}</span>
                    </h3>
                    <div class="mt-2 grid grid-cols-12 pb-2">
                        <span class="Vazir col-span-6 inline-block text-right mr-6 text-gray-500 text-sm sm:text-sm md:text-lg">{% trans "نام محصول" %}</span>
                        <span class="Vazir col-span-2 inline-block text-center text-gray-500 text-sm sm:text-sm md:text-lg">{% trans "قیمت" %}</span>
                        <span class="Vazir col-span-2 inline-block text-center text-gray-500 text-sm sm:text-sm md:text-lg">{% trans "تعداد" %}</span>
                        <span class="Vazir col-span-2 inline-block text-center text-gray-500 text-sm sm:text-sm md:text-lg">{% trans "حذف" %}</span>
                    </div>
                    <div id="cart">
                        {% for item in items %}
                            <div class="item-in-cart grid grid-cols-6 text-right mt-4 border-t-2 border-gray-600 pr-6 pt-6 text-white">
                                <input type="hidden" id="{{ item.id }}">
                                <b class="block col-span-3 Vazir text-xs sm:text-lg md:text-lg">{{ item.product.title }}</b>
                                <b class="price-count block col-span-1 Vazir text-xs sm:text-lg md:text-lg text-blue-300 text-center">{{ item.price }}</b>
                                <input type="number" name="count" min="1" max="{{ item.product.count_inventory }}"
                                       value="{{ item.count }}"
                                       class="change-count block mx-auto bg-transparent Vazir text-center focus:outline-none rounded-lg ring-2 ring-yellow-900 w-10 pr-1">
                                <i class="deleter-ico block text-center text-red-500 cursor-pointer gb gb_delete_forever gb_s24 active:outline-none"></i>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="factor relative grid grid-cols-3 sm:grid-cols-6 gap-6 text-right mt-4 border-t-2 border-gray-600 pr-6 pt-6 text-white">
                        <div class="col-span-3 text-shadow-md pl-6 sm:pl-0">
                        <span class="block Vazir text-lg"><i
                                class="gb gb_assessment text-3xl ml-2 mb-1"></i>{% trans "تعداد" %} : <span
                                id="counter"></span></span>
                            <span class="block Vazir text-lg"><i
                                    class="gb gb_attach_money text-3xl ml-2 mb-1"></i>{% trans "قیمت کلی" %} : <span
                                    id="total_price">{{ order.total_price }}</span></span>
                            <span class="block Vazir text-lg"><i
                                    class="gb gb_money_off text-3xl ml-2 mb-1"></i>{% trans "تخفیف محصولات" %} : <span
                                    id="total_discount">{{ order.total_discount }}</span></span>
                            <div id="offcode-containar">
                                {% if offcode %}
                                    <div id="offcode-main" class="bg-red-500 p-4 rounded-md my-4 relative">
                                        <a class="absolute left-4 cursor-pointer -top-4 border-4 border-red-500 bg-red-800 py-2 pl-3 pr-2 rounded-xl"
                                           id="DisableOffer"><i class="gb gb_close ml-1 mb-1"></i>{% trans "لغو" %}</a>
                                        <span class="block Vazir text-lg"><i
                                                class="gb gb_mode_edit text-3xl ml-2 mb-1"></i>{% trans "عنوان کد" %} : <span
                                                id="offcode_title">{{ offcode.title }}</span></span>
                                        <span class="block Vazir text-lg"><i
                                                class="gb gb_monetization_on text-3xl ml-2 mb-1"></i>{% trans "میزان تخفیف کد" %} : <span
                                                id="total_offcode">{{ order.total_offcode }}</span></span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-span-3 text-shadow-md pl-6 pb-8 sm:pb-0 relative flex items-center justify-center">
                            <div class="">
                                <span class="block irsans-b text-lg text-center">{% trans "قیمت نهایی" %} :</span>
                                <span class="block Vazir text-lg text-center text-4xl font-bold mt-8"><span
                                        id="final">{{ order.final_price|sub:order.total_offcode }}</span> {% trans "تومان" %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 absolute w-full gap-4 bottom-0">
                        <input type="submit"
                               class="block w-full bg-green-500 bg-opacity-80 text-shadow-md py-2 text-center mt-4 rounded-md text-white font-bold hover:bg-opacity-100 cursor-pointer m-2 ml-0"
                               value="{% trans "ادامه" %}">
                        <div class="pl-2 col-span-1">
                            <div class="grid grid-cols-12 gap-2">
                                <input name="code" id="code" type="text" placeholder="{% trans "کد تخفیف" %}"
                                       class="bg-black bg-opacity-20 text-shadow-md py-2 text-center mt-4 rounded-md text-white hover:bg-opacity-100 col-span-9">
                                <button id="offcode-btn"
                                        class="bg-yellow-500 bg-opacity-80 text-shadow-md text-center mt-4 rounded-md text-white  hover:bg-opacity-100 cursor-pointer col-span-3">{% trans "اعمال" %}</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <center class="col-span-4"><h1
                        class="text-gray-500 font-bold">{% trans "ابتدا وارد شوید یا ثبت نام کنید" %}</h1></center>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_foot %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });

        $OrderID = {{ order.id }};

        let $counter = 0

        $('.item-in-cart>input[type=number]').each(function () {
            $counter += Number($(this).val())
        })

        $('#counter')[0].innerText = $counter

        // cart updater
        function cart_update() {
            // get order offcode discount
            $.getJSON("/api/orders/detail/{{ order.id }}", function (data) {
                // set in markup id :
                $('#total_discount').text(String(data["total_discount"]))
                $('#total_offcode').text(String(data["total_offcode"]))
                $('#total_price').text(String(data["total_price"]))
                $('#final').text(String(data["final_price"]))
            }).done(function () {
                // enable offer remover
                offcode_remover()
            })
        }

        // blur function
        $('*[filter-class]').each(function () {
            let _this = $(this)
            let el_selector = _this.attr('filter-el')
            let filter = _this.attr('filter-class')
            let spiner = _this.attr('filter-spin')

            $(el_selector).on('change', function () {
                _this.addClass(filter)
                $(spiner).removeClass('invisible')

                let item_id = $(this).parent().children('input[type=hidden]').attr('id')
                let item_count = $(this).val()

                let el_total_price = $('#total_price')
                let el_total_discount = $('#total_discount')
                let el_final = $('#final')
                let el_total_offcode = $('#total_offcode')

                // old data syncer
                $.getJSON("{% url "api:orderitems" %}detail/" + item_id, function (data) {
                    let count = data.count
                    let order_id = data.order["id"]
                    let count_inventory = data.product["count_inventory"]

                    let diff = Number(item_count) - Number(count)

                    let el_counter = $('#counter')

                    if (diff > 0) {
                        // +
                        el_counter.text(String(Number(el_counter.text()) + diff))
                        el_total_price.text(String(Number(el_total_price.text()) + (Math.abs(diff) * Number(data.product["price"]))))
                        el_total_discount.text(String(Number(el_total_discount.text()) + (Math.abs(diff) * Number(data.product["final_discount"]))))
                    } else {
                        // -
                        el_counter.text(String(Number(el_counter.text()) + diff))
                        el_total_price.text(String(Number(el_total_price.text()) - (Math.abs(diff) * Number(data.product["price"]))))
                        el_total_discount.text(String(Number(el_total_discount.text()) - (Math.abs(diff) * Number(data.product["final_discount"]))))
                    }
                    el_final.text(String(Number(el_total_price.text()) - Number(el_total_discount.text()) - Number(el_total_offcode.text())))
                })


                $.ajax({
                    url: "{% url "api:orderitems" %}detail/" + item_id,
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify({"count": item_count}),

                })
            })

            $(document).ajaxStop(function () {
                _this.removeClass(filter)
                $(spiner).addClass('invisible')
            })

        })

        // offcode submitter
        $('#offcode-btn').click(function () {
            let code = $('#code').val()
            $.getJSON("/api/offcodes/detail/" + code)
                .done(function (data) {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: '{% trans "کد تخفیف وارد شده اعمال شد" %}',
                        showConfirmButton: false, timer: 3500, timerProgressBar: true,
                    })

                    let offcode_id = data["id"]
                    let title_offcode = data["title"]

                    $('#offcode-containar').html(
                        '<div id="offcode-main" class="bg-red-500 p-4 rounded-md my-4 relative">' +
                        '<a class="absolute left-4 cursor-pointer -top-4 border-4 border-red-500 bg-red-800 py-2 pl-3 pr-2 rounded-xl" id="DisableOffer"><i class="gb gb_close ml-1 mb-1"></i>{% trans "لغو" %}</a>' +
                        '<span class="block Vazir text-lg"><i class="gb gb_mode_edit text-3xl ml-2 mb-1"></i>{% trans "عنوان کد" %} : <span id="offcode_title">' + title_offcode + '</span></span>' +
                        '<span class="block Vazir text-lg"><i class="gb gb_monetization_on text-3xl ml-2 mb-1"></i>{% trans "میزان تخفیف کد" %} : <span id="total_offcode"></span></span>' +
                        '</div>'
                    )

                    $.ajax({
                        url: "{% url "api:orders" %}detail/{{ order.id }}",
                        type: 'PATCH',
                        contentType: 'application/json',
                        data: JSON.stringify({"offcode": offcode_id}),
                        success: function () {
                            cart_update()
                        }
                    })

                }).fail(function (err) {
                // show error msg
                Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: '{% trans "کد تخفیف وارد شده نادرست است!" %}',
                    showConfirmButton: false, timer: 3500, timerProgressBar: true,
                })
            })
        })


        // offcode remover
        function offcode_remover() {
            $('#DisableOffer').on('click', function () {
                let el_blur = $('[filter-class]')
                let filter = el_blur.attr('filter-class')
                let spiner = el_blur.attr('filter-spin')
                el_blur.addClass(filter)
                $(spiner).removeClass('invisible')

                $.ajax({
                    url: "{% url "api:orders" %}detail/{{ order.id }}",
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify({"offcode": null}),
                    success: function () {
                        $('#offcode-containar').html('')
                        cart_update()
                    }
                })

                $(document).ajaxStop(function () {
                    el_blur.removeClass(filter)
                    $(spiner).addClass('invisible')
                })
            })
        }

        offcode_remover()

        // delete item
        $('.deleter-ico').on('click', function () {

            Swal.fire({
                title: '{% trans "آیا قصد حذف این محصول از سبد را دارید؟" %}',
                icon: 'warning',
                showClass: {popup: 'animate__animated animate__flipInX'},
                hideClass: {popup: 'animate__animated animate__flipOutX'},
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '{% trans "لغو" %}',
                confirmButtonText: '{% trans "بله حذف شود" %}'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: '{% trans "محصول مورد نظر با موفقیت از سبد شما حذف گردید" %}',
                        icon: 'success'
                    })

                    let el_blur = $('[filter-class]')
                    let filter = el_blur.attr('filter-class')
                    let spiner = el_blur.attr('filter-spin')
                    el_blur.addClass(filter)
                    $(spiner).removeClass('invisible')

                    let item_id = $(this).parent().children('input[type=hidden]').attr('id')
                    let item = $(this).parent()

                    if (item.parent().children('.item-in-cart').length === 1) {
                        $('#cart').parent().html('<center class="col-span-4"><h1 class="text-gray-500 font-bold">{% trans "سبد خرید شما خالی است" %}</h1></center>')
                    } else {
                        let el_counter = $('#counter')
                        let el_total_price = $('#total_price')
                        let el_total_discount = $('#total_discount')
                        let el_total_offcode = $('#total_offcode')
                        let el_final = $('#final')

                        el_counter.text(String(Number(el_counter.text()) - Number(item.children('input[type=number]').val())))
                        el_total_price.text(String(Number(el_total_price.text()) - Number(Number(item.children('input[type=number]').val()) * Number(item.children('b.price-count').text()))))

                        $.getJSON("{% url "api:orderitems" %}detail/" + item_id, function (data) {
                            el_total_discount.text(String(Number(el_total_discount.text()) - (Number(data.product["final_discount"]) * Number(item.children('input[type=number]').val()))))
                            el_final.text(String(Number(el_total_price.text()) - Number(el_total_discount.text()) - Number(el_total_offcode.text())))
                        })
                    }

                    $.ajax({
                        url: "{% url "api:orderitems" %}detail/" + item_id,
                        type: 'DELETE',
                        success: function (result) {
                            item.remove()
                        }
                    })

                    $(document).ajaxStop(function () {
                        el_blur.removeClass(filter)
                        $(spiner).addClass('invisible')
                    })
                }
            })

        })
    </script>
{% endblock %}
{% block click_item %}{% endblock %}