{% extends "landing/base.html" %}
{% load i18n %}
{% block title %}{% trans "تماس با ما" %}{% endblock %}
{% load static %}
{% block offer %}{% endblock %}
{% block body %}
    <div class="mb-8 mt-4 text-white rounded-lg max-w-screen-lg w-11/12 mx-auto bg-black bg-opacity-20 text-lg">
        <div class="pt-2 pb-1 px-5">
            <form class=" mx-auto pt-4 mb-6">
                {% csrf_token %}
                <input type="hidden" hidden name="user" value="{{ user.id }}">
                <input type="text" helper_name="{% trans "نام و نام خانوادگی" %}" placeholder="{% trans "لطفا نام و نام خانوادگی خود را وارد کنید" %}" name="name"
                       value="{{ user.get_full_name }}"
                       class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4">
                <input type="tel" helper_name="{% trans "شماره همراه" %}" placeholder="{% trans "لطفا شماره همراه خود را وارد کنید" %}" name="phone"
                       value="{{ user.phone }}"
                       class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4">
                <input type="email" helper_name="{% trans "ایمیل" %}" placeholder="{% trans "لطفا ایمیل خود را وارد کنید (اختیاری)" %}" name="email"
                       value="{{ user.email }}"
                       class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4">
                <textarea name="msg" helper_name="{% trans "پیام" %}" placeholder="{% trans "لطفا پیام خود را وارد کنید" %}" cols="30" rows="10"
                          class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4"></textarea>
                <div class="grid grid-cols-2 gap-2 ltr">
                    <input type="reset" value="{% trans "پاکسازی" %}"
                           class="text-center py-3 rounded-md trs-all-300 bg-yellow-600 hover:bg-yellow-700  text-shadow-md cursor-pointer">
                    <button onclick="MessageSender($(this))" type="button"
                            class="text-center py-3 rounded-md trs-all-300 bg-green-600  hover:bg-green-700 text-shadow-md cursor-pointer">{% trans "ارسال" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block click_item %}{% endblock %}
{% block extra_foot %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });

        // utility function
        function getFormData(data) {
            let unindexed_array = data;
            let indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function MessageSender(el) {
            const form = el.parent().parent()
            const data = form.serializeArray();

            $.ajax({
                url: '{% url "api:contact" %}',
                type: 'POST', contentType: 'application/json',
                data: JSON.stringify(getFormData(data)),
                error: function (xhr, status, error) {
                    let err = JSON.parse(xhr.responseText);
                    let _text = ""
                    $.each(err, function (k, v) {
                        let key = $("[name=" + k + "]").attr("helper_name") + " : "
                        _text += key + v + "<br>"
                    })

                    Swal.fire({
                        icon: 'error',
                        title: '{% trans "ورودی هارا کنترل کنید!" %}',
                        html: _text,
                        showConfirmButton: false, timer: 8500, timerProgressBar: true,
                    })
                }
            }).done(function () {
                Swal.fire({
                    icon: 'success',
                    title: '{% trans "پیام شما با موفقیت ارسال شد!" %}',
                    showConfirmButton: false, timer: 3500, timerProgressBar: true,
                })
            })
        }
    </script>
{% endblock %}