<!DOCTYPE html>
<html lang="fa-IR">
<head>
  <meta charset="UTF-8">
  <title>دولوپر کمکی !</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="دولوپر کمکی">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- CSS plugins -->
  <link rel="stylesheet" href="css/gorbeh-icons.min.css">
  <link rel="stylesheet" href="css/tailwind.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/keyframes.css">
  <!--  JS plugins-->
  <script src="js/vendor/jquery-3.5.1.min.js"></script>
  <meta name="theme-color" content="#34373F">
  <style>
    img {
      width: 100%;
    }

    .w-auto {
      width: auto !important;
    }
  </style>
</head>
<body>
<header class="flex justify-center items-center text-shadow-header">
    <span class="title">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path class="color-change-2x"
                                                                            d="M47.5,-57.3C58.6,-47.3,62.5,-29.5,66,-11.4C69.4,6.6,72.2,25,66.7,42.3C61.2,59.6,47.4,75.9,31.1,79C14.8,82.1,-3.9,72.1,-22.5,64.3C-41.1,56.5,-59.6,50.8,-70.5,37.9C-81.4,24.9,-84.6,4.7,-78.8,-11.5C-73,-27.6,-58.3,-39.8,-43.7,-49.1C-29.1,-58.5,-14.5,-65,1.8,-67.2C18.2,-69.4,36.4,-67.3,47.5,-57.3Z"
                                                                            transform="translate(100 100)"/></svg>
        <span>دِوِلُـوپِر <i class="super-span irsans-b">کُمَکی</i></span>
    </span>
  <span class="content mr-2 bold color-change-2x trs-all-300">
        <span class="text-sm sm:text-2xl"> مختصر و مفید سریع ياد بگیر !</span>
            <a href="" title="ارتباط باما" hover-class="animate__animated animate__tada" class="bg-red-500 border-dashed border border-red-700 ring-2 ring-red-500 w-10 h-10 text-shadow-md rounded-lg text-center flex items-center justify-center absolute left-0 -top-12" style="margin-left: 1px;margin-top: -4px"><i class="gb gb_perm_phone_msg gb_s24"></i></a>
            <a href="" title="تیم دولوپرکمکی" hover-class="animate__animated animate__tada" class="bg-yellow-400 border-dashed border border-yellow-600 ring-2 ring-yellow-400 w-10 h-10 text-shadow-md rounded-lg text-center flex items-center justify-center absolute left-12 -top-12" style="margin-left: 6px;margin-top: -4px"><i class="gb gb_info gb_s24"></i></a>
            <a href="" title="بلاگ" hover-class="animate__animated animate__tada" class="bg-green-500 border-dashed border border-green-700 ring-2 ring-green-500 w-10 h-10 text-shadow-md rounded-lg text-center flex items-center justify-center absolute left-24 -top-12" style="margin-left: 12px;margin-top: -4px"><i class="gb gb_dashboard gb_s24" style="margin-left: 2px"></i></a>
            <a href="https://Dev-Help.IR" class="home-link ltr"><i class="gb mr-2 gb_share mb-1"></i><span
                    class="text-sm sm:text-xl">Website-URL</span><div
                    class="sub-link ">Ver 1.0</div></a>
        </span>
  <div class="clearfix"></div>
</header>
<form class="grid grid-cols-12 gap-0 mt-8 mb-4 mx-auto max-w-screen-lg w-11/12" action="/search" method="get">
  <label for="search"
         class="col-span-2 md:col-span-1 bg-white bg-opacity-10 rounded-r-md text-white text-center leading-10 px-3 py-2"><i
          class="gb gb_search gb_s36"></i></label>
  <input id="search" name="s" type="search" placeholder="جستجو ..."
         class="col-span-10 md:col-span-11 search-bar-input leading-10 relative text-white irsans-b bg-white bg-opacity-10 text-2xl  px-4 pb-4 rounded-l-md border-r-4 ">
</form>
<div class="mostly-views trs-all-300 grid grid-cols-6 sm:grid-cols-12 max-w-screen-lg relative mx-auto w-11/12 gap-4 rounded-md overflow-hidden py-4">
  <div timer="1000" timer-dot="1000"
       class="col-span-6 sm:col-span-12 flex absolute bg-gray-900 irsans-b inset-0 text-white items-center justify-center my-4 rounded bg-opacity-95 text-sm sm:text-lg md:text-xl">
    درحال بارگزاری پربازدید ترین دسته بندی ها
  </div>
  <a hover-class="animate__animated animate__jello animate__infinite" title="html" href=""><img src="img/html.png" alt="html" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="css" href=""><img src="img/css.png" alt="css" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="js" href=""><img src="img/js.png" alt="js" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="android" href=""><img src="img/android.png" alt="android" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="php" href=""><img src="img/php.png" alt="go" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="python" href=""><img src="img/python.png" alt="python" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="jquery" href=""><img src="img/jquery.png" alt="jquery" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="swift" href=""><img src="img/swift.png" alt="swift" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="tailwindcss" href=""><img src="img/tailwindcss.png" alt="tailwindcss" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="bootstrap" href=""><img src="img/bootstrap.png" alt="bootstrap" class="rounded"></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="git" href=""><img src="img/git.png" alt="git" class="rounded filter "></a>
  <a hover-class="animate__animated animate__jello animate__infinite" title="java" href=""><img src="img/java.png" alt="java" class="rounded"></a>
</div>
<div class="mb-8 mt-4 text-white rounded-lg max-w-screen-lg w-11/12 mx-auto">
  <img src="img/map.png" alt="" class="rounded-md">
  <div class="mt-6 mb-4">
    <p><i class="gb gb_phone gb_r270 ml-1"></i>    شماره تماس‌ : 53335610-021</p>
    <p class="my-6"><i class="gb gb_home ml-1"></i>آدرس :‌ استان تهران - شهر تهران - خیابان گاندی جنوبی ابتدای کوچه 65 پلاک 1554</p>
  </div>
  <form action="" class=" mx-auto pt-4 mb-6">
    <input type="text" placeholder="نام و نام خانوادکی" name="fullname" class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4">
    <input type="tel" placeholder="شماره تماس" name="phone" class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4">
    <input type="email" placeholder="ایمیل (اختیاری)" name="email" class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4">
    <textarea name="msg" placeholder="پیام شما" cols="30" rows="10" class="block w-full py-4 rounded-md px-3 bg-black bg-opacity-30 mb-4"></textarea>
    <div class="grid grid-cols-2 gap-2 ltr">
      <input type="reset" value="پاکسازی" class="text-center py-3 rounded-md trs-all-300 bg-yellow-600 hover:bg-yellow-700  text-shadow-md cursor-pointer">
      <input type="submit" value="ارسال" class="text-center py-3 rounded-md trs-all-300 bg-green-600  hover:bg-green-700 text-shadow-md cursor-pointer">
    </div>
  </form>
</div>
<!-- Footer -->
<div class="trs-all-300 grid grid-cols-1 bg-black bg-opacity-70 text-white px-4 sm:grid-cols-2 max-w-screen-lg relative mx-auto w-11/12 gap-4 rounded-t-lg overflow-hidden py-4">
  <div class="">
    <h6>تیم دولوپر کمکی مشتاق نظرات و پیشنهادات شماست :)</h6>
  </div>
  <div class="text-left">
    <a href="https://t.me" class="w-6 inline-block text-center"><i class="gb gb_telegram"></i></a>
    <a href="https://t.me" class="w-6 inline-block text-center"><i class="gb gb_telegram"></i></a>
  </div>
</div>
<!-- JS Script -->
<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/vendor/typed.min.js"></script>
<script src="js/functions.js"></script>
<script>
  // search form
  $("label[for=search]").click(function () {
    $(this).parent().submit()
  })

  // timer
  function timer(el, interval, hide_time = 300, dot_time = 0) {
    if (dot_time !== 0) {
      setInterval(function () {
        el.append(".")
      }, dot_time)
    }

    setTimeout(function () {
      el.fadeOut(hide_time)
    }, interval)

    setTimeout(function () {
      el.remove()
    }, interval + hide_time)
  }

  $('[timer]').each(function () {
    let Interval = Number($(this).attr("timer"))
    let dot_time = 0
    let hide_time = 300
    if ($(this)[0].hasAttribute("timer-dot")) {
      dot_time = $(this).attr("timer-dot")
    }
    if ($(this)[0].hasAttribute("timer-hide")) {
      hide_time = $(this).attr("timer-hide")
    }
    timer($(this), Interval, hide_time, dot_time)
  })

  // mostly views :
  $('.mostly-views>a').mouseenter(function () {
    $('.mostly-views>a>img').not($(this).children("img")).addClass("filter grayscale")
  }).mouseleave(function () {
    $('.mostly-views>a>img').removeClass("filter grayscale")
  })

  // blur effect :
  $('.last-update-list>a').mouseenter(function () {
    $(this).children('div').removeClass("hidden")
    $(this).children('i,h3,p').addClass("filter blur-sm")
  }).mouseleave(function () {
    $(this).children('div').addClass("hidden")
    $(this).children('i,h3,p').removeClass("filter blur-sm")
  })

  // random color selector
  function arrayRemove(arr, value) {
    return arr.filter(function (ele) {
      return ele !== value
    })
  }

  $colors = ["#aab2be", "#fdbd30", "#28c840", "#62d3df", "#d483ef", "#f67171"]
  $(".blinker").each(function () {
    let color = $colors[Math.floor(Math.random() * $colors.length)]
    $(this).children('h3, p').css('color', color)
    $(this).css('border-color', color)
    $colors = arrayRemove($colors, color)
  });

  // Hover
  $('[hover-class]').each(function () {
    let el = $(this)
    let class_animate = el.attr('hover-class')
    if (el.attr("hover-child")) {
      el = el.children(el.attr("hover-child"))
      console.log(el)
    }
    $(this).mouseenter(function () {
      el.addClass(class_animate)
    }).mouseleave(function () {
      el.removeClass(class_animate)
    })
  })
</script>
</body>
</html>