{% extends "landing/base.html" %}
{% load i18n %}
{% block title %}{% trans "Products" %}{% endblock %}
{% get_current_language as lang %}
{% block body %}
    <div class="mt-4 mb-8 max-w-screen-lg w-11/12 mx-auto grid gap-4 grid-cols-1 sm:grid-cols-3 md:grid-cols-4"
         style="min-height: 50vh;">
        {% if counter %}
            {% for i in object_list %}
                <a href="{% url "product" i.url %}" class="relative rounded-lg block">
                    <div class="relative">
                        <img src="{{ i.image.default }}" alt="{{ i.title_en }}"
                             class=" border-8 border-red-500 rounded-t-lg">
                        <h3 class="yekan-b absolute bg-black trs-all-300 bg-opacity-70 text-white text-2xl sm:text-sm md:text-lg lg:text-2xl pr-2 pl-5 sm:py-1 lg:py-2 py-2 bottom-0 right-0 rounded-tl-3xl">{{ i.title }}</h3>
                    </div>
                    <p class="p-4 bg-black bg-opacity-40 bg-strip-sm  text-justify text-white sm:text-sm">{{ i.short_description }}</p>
                    <div class="bg-black relative bg-strip-sm bg-opacity-30 text-center p-4 rounded-b-lg">
                        <span class="absolute text-2xl sm:text-sm md:text-lg right-4 {% if lang != "en-US" %}Vazir{% endif %} {% if i.discount %}md:bottom-3 bottom-3{% else %}md:bottom-6 bottom-7{% endif %} text-gray-400">
                        <span class="block">{% trans "Toman" %}</span>
                            {% if i.discount_count %}
                                <span class="line-through">{{ i.price }}</span>
                            {% endif %}
                        </span>
                        <b class="text-5xl sm:text-2xl md:text-4xl mt-2 sm:mt-0 block text-left text-pink-700 text-shadow-md {% if lang != "en-US" %}Vazir{% endif %}">{{ i.final_price }}</b>
                    </div>
                </a>
            {% endfor %}
            <section class="container col-span-1 sm:md:col-span-3 md:col-span-4 text-center Vazir">
                <nav class="pagination block">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="prev">&laquo;</a>
                    {% else %}
                        <a disabled="disabled">&laquo;</a>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <span>{{ i }}</span>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="next">&raquo;</a>
                    {% else %}
                        <a disabled="disabled">&raquo;</a>
                    {% endif %}
                </nav>
            </section>
        {% else %}
            <center class="col-span-4"><h1
                    class="text-gray-500 font-bold">{% trans "There is no item to display!" %}</h1></center>
        {% endif %}
    </div>
{% endblock %}
{% block click_item %}{% endblock %}