{% extends "landing/base.html" %}
{% load i18n %}
{% load jformat %}
{% get_current_language as lang %}
{% block title %}{{ object.title }}{% endblock %}
{% block offer %}{% endblock %}
{% block body %}
    <div class="mb-8 mt-4 text-white bg-black rounded-lg bg-opacity-50 max-w-screen-lg w-11/12 mx-auto grid grid-cols-1 sm:grid-cols-3">
        <div class="relative pb-20 sm:border-l-2 px-4 border-opacity-10">
            <h1 class="text-center text-xl border-b border-opacity-10 pb-4 text-yellow-400">{{ object.title }}</h1>
            <div class="relative {% if lang != "en-US" %}Vazir{% endif %}">
                <span class="block"><i class="gb gb_widgets ml-2"></i>{% trans "دسته بندی" %} : <a class="text-green-500" href="/category/{{ object.category.url }}">{{ object.category }}</a></span>
                <span class="block my-3"><i class="gb gb_refresh ml-2"></i>{% trans "بروزرسانی" %} : {{ object.modify_time|jformat:"%d / %m / %Y" }}</span>
                <span class="block my-3"><i class="gb gb_person_pin ml-2"></i>{% trans "موجودی انبار" %} : {{ object.count_inventory }}</span>
                <span class="block my-3"><i class="gb gb_local_offer ml-2"></i>{% trans "تعداد خرید" %} : {{ object.count_buy }}</span>
                <span class="block my-3"><i class="gb gb_attach_money ml-2"></i>{% trans "قیمت" %} : {{ object.price }}</span>
                {% if object.discount_count %}
                    <span class="block my-3"><i class="gb gb_local_atm ml-2"></i>{% trans "تخفیف" %} : {{ object.discount_count }}</span>
                {% endif %}
                <span class="block my-3"><i class="gb gb_remove_red_eye ml-2"></i>{% trans "بازدید" %} : {{ object.viewed }}</span>
            </div>
            <a href="/cart/add?item_id={{ object.id }}"
               class="absolute block bottom-4 right-0 left-0 z-20 mx-4 text-center bg-blue-500 text-white rounded-lg py-2"
               title="{% trans "افزودن به سبد خرید" %}"><i class="gb gb_add_circle_outline ml-1 text-xl"></i>{% trans "افزودن به سبد خرید" %}</a>
        </div>
        <div class="py-7 px-6 col-span-2">
            <img src="{{ object.image.url }}" alt="{{ object.title_en }}" class="w-full sm:w-auto block rounded-lg">
            <p class="mt-8">{{ object.description }}</p>
        </div>
    </div>
{% endblock %}